@import 'fireworks';

@keyframes slide-in {
    0% { top: -100% }
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main, .controls, .game {
    box-sizing: border-box;
    height: 100%;
}

.main, .controls {
    float: left;
}

.main {
    width: 80%;
    padding: 20px;

    .announce, .choose_trump {
        display: block;
        position: fixed;
        top: 10px;
        left: 50%;
        padding: 20px;
        border-radius: 5px;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        animation: slide-in 0.5s;
        box-shadow: 0 0 5px black;

        input {
            padding: 5px;
        }
        input[type="text"] {
            border-radius: 5px;
            margin-right: 5px;
        }
    }

    #table, #hand {
        clear: both;
        min-height: 250px;
        padding-top: 12px;
    }

    .trump {
        display: block;
        float: left;
        padding: 10px;
        padding-right: 5px;
        margin-top: -12px;
        margin-right: 20px;
        border: 2px solid black;
        width: 105px;
        height: 200px;
    }

    .card {
        display: block;
        float: left;
        width: 100px;
        height: 200px;
        font-size: 5em;
        border: 1px solid black;
        margin-right: 5px;

        .owner {
            font-size: 1rem;
        }
    }
}

.controls {
    width: 20%;
    height: 100%;
}

.messages {
    height: 63%;
}

.messages ul, .users ul {
    height: calc(100% - 3.5em);
    overflow: auto;
}

.messages ul {
    list-style: none;
    padding: 0;
}

.users {
    height: 27%;
    padding-bottom: 5%;
}

.turn {
    font-weight: bold;
}

.red {
    background-color: lightcoral;
}
.yellow {
    background-color: lightyellow;
}
.blue {
    background-color: lightblue;
}
.green {
    background-color: lightgreen;
}
.orange {
    background-color: orange;
}
.error {
    color: red;
}

.hidden {
    display: none;
}

.waiting {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: rgba(0,0,0, 0.8);

    p {
        color: white;
        text-align: center;
        font-size: 4em;
        margin-top: calc(50vh - 0.5em);
    }
}
